@{
         
                ViewBag.Title = "Home";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
           
            <img src="@Url.Content("~/Content/Images/paw.jpg")" class="rounded" alt="Product Image" width="300" height="300"/>
        </div>
        <div class="col-md-4">
            <img src="@Url.Content("~/Content/Images/ezeeLogo.png")" class="rounded" alt="Product Logo" width="200" height="200" />
                   </div>
        <div class="col-md-4">
            <div>
                <h2 class="text-info">The Business Backbone</h2>
            </div>
            <p class="text-body">
                We make Mandi Distribution business easy
                with with Supplier / Customer Bills, Rate / Weight Adjustment, Stock Management, Accounts, Crates, Outstanding Register, Taxation, Consolidated Reports, Online Payments and much more...
               
            </p>
            <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>

    </div>
  </div>

<div class="container  border">
    <div class="row">
        <div class="col-md-4">
            <h1 class="text-info font-weight-light">Accounting Invoicing</h1>
            <p class="font-weight-normal font-italic text-secondary">
                Track your customers effortlessly,
                Minimize chances for any kind of loss or bad debts,
                Increase your profitability...eZee  generate everything for you
            </p>
            <p><a class="btn btn-primary btn-sm" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h1 class="text-info font-weight-light">Ultimate Reports</h1>
            <p class="font-weight-normal font-italic text-secondary">All in one Collection Report covers much more than opening and closing balance  ..make adjustments, make day wise ugrahi registers (7 days / 4 Days Collection Register), creating customer’s bills, creating supplier’s bills, making outstanding lists (area wise), maintaining stock balance, maintaining stock balance of items sent for sale, reconciling cash/bank accounts, check customer’s accounts etc.  </p>
            <p><a class="btn btn-primary btn-sm" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h1 class="text-info font-weight-light">Business Nutshell </h1>
            <p class="font-weight-normal font-italic text-secondary">As per our survey, business in Sabzi Mandi is very good and profitable. An average commission agent in a town, can sell Fruits and vegetable amounting to minimum of 1 lac Rs. In one or two hours in morning. But to maintain his records, he has to spend 7 to 8 hrs. If this work is carried out with the help of software, he will be able to maintain his accounts in 15 to 30 mins.</p>
            <p><a class="btn btn-primary btn-sm" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
</div>